name: Run Unit-Tests
on: [pull_request]
concurrency:
  group: ${{ github.workflow }} - ${{ github.event.pull_request.id }}
  cancel-in-progress: true
jobs:
  unit-tests:
    name: Run Unit-Tests
    runs-on: ubuntu-latest
    steps:
      # https://github.com/marketplace/actions/checkout
      - name: Checkout Repository
        uses: actions/checkout@v3

      # https://github.com/marketplace/actions/setup-pnpm
      - uses: pnpm/action-setup@v4.2.0
        name: Install pnpm
        id: pnpm-install
        with:
          version: latest
          run_install: false

      # https://github.com/marketplace/actions/setup-node-js-environment
      - name: Setup NodeJS
        uses: actions/setup-node@v3
        with:
          cache: pnpm
          node-version: lts/*
          check-latest: true

      - name: Install dependencies
        run: pnpm install ${{ github.actor != 'dependabot[bot]' && '--frozen-lockfile' || '--no-frozen-lockfile' }}

      - name: Run Unit-Tests
        run: pnpm test

      - name: Build
        run: pnpm run build
